:root {
  --primary-color: #eaf3fa;
  --secondary-color: #f5bc34;
  --primary-text: #0b5596;
  --secondary-text: #51c3c8;
}

/* @font-face {
  font-family: Montserrat;
  src: url('../public/assets/fonts/Montserrat-Bold.ttf');
} */

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-flow: column nowrap;
}
